.aboutUs {
    text-align: center;
    padding: 3rem;
}

.aboutUs__title {
    color: #d42525;
    font-family: 'Pacifico', cursive;
    font-size: 3.1875rem;
    margin-bottom: 1rem;
}

.aboutUs__description {
    color: #595959;
    font-size: 1.75rem;
    font-weight: 100;
}

@media screen and (min-width:0px) {
    .aboutUs {
        padding: 2.5rem 1rem;
    }

    .aboutUs__title {
        padding-bottom: 2rem;
        font-size: 2rem;
    }

    .aboutUs__description {
        font-size: 1.3rem;
    }
}

@media screen and (min-width:768px) {
    .aboutUs {
        padding: 2.5rem;
    }

    .aboutUs__title {
        padding-bottom: 2rem;
        font-size: 3.1875rem;
    }

    .aboutUs__description {
        font-size: 1.75rem;
    }
}