.footer {
    align-items: center;
    background-color: #bfbfbf;
    color: #fdfdfd;
    display: flex;
    justify-content: space-between;
    padding: 1.5625rem 5rem;
    text-align: center;
    text-transform: uppercase;
}

.footer__title {
    display: flex;
    font-weight: 400;
}

.footer__list {
    display: flex;
}

.footer__list-item {
    list-style: none;
}

.footer__list-item__icon {
    margin-right: 1.25rem;
}

@media screen and (min-width:0px) {
    .footer {
        font-size: 1.1rem;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:768px) {
    .footer {
        font-size: 1.3rem;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width:922px) {
    .footer {
        font-size: 1.5rem;
    }
}